<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginUsuario</servlet-name>
        <servlet-class>sesion2.LoginUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>sesion2.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Modificar</servlet-name>
        <servlet-class>sesion2.Modificar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarCuenta</servlet-name>
        <servlet-class>sesion2.ModificarCuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarDatosPersonales</servlet-name>
        <servlet-class>sesion2.ModificarDatosPersonales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistorialPedidos</servlet-name>
        <servlet-class>sesion2.HistorialPedidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PedidosUsuario</servlet-name>
        <servlet-class>sesion2.PedidosUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarPedido</servlet-name>
        <servlet-class>sesion2.ProcesarPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAdmin</servlet-name>
        <servlet-class>sesion2.LoginAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarDatosEnvio</servlet-name>
        <servlet-class>sesion2.ModificarDatosEnvio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tramitacion</servlet-name>
        <servlet-class>sesion2.Tramitacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelarPedido</servlet-name>
        <servlet-class>sesion2.CancelarPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirigirCarrito</servlet-name>
        <servlet-class>sesion2.RedirigirCarrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirigirUsuario</servlet-name>
        <servlet-class>sesion2.RedirigirUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelarProductos</servlet-name>
        <servlet-class>sesion2.CancelarProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AbrirDetallesPedido</servlet-name>
        <servlet-class>sesion2.AbrirDetallesPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroUsuario</servlet-name>
        <servlet-class>sesion2.RegistroUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginUsuario</servlet-name>
        <url-pattern>/LoginUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Modificar</servlet-name>
        <url-pattern>/Modificar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarCuenta</servlet-name>
        <url-pattern>/ModificarCuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarDatosPersonales</servlet-name>
        <url-pattern>/ModificarDatosPersonales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistorialPedidos</servlet-name>
        <url-pattern>/HistorialPedidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PedidosUsuario</servlet-name>
        <url-pattern>/PedidosUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarPedido</servlet-name>
        <url-pattern>/ProcesarPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAdmin</servlet-name>
        <url-pattern>/LoginAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarDatosEnvio</servlet-name>
        <url-pattern>/ModificarDatosEnvio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tramitacion</servlet-name>
        <url-pattern>/Tramitacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelarPedido</servlet-name>
        <url-pattern>/CancelarPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirigirCarrito</servlet-name>
        <url-pattern>/RedirigirCarrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirigirUsuario</servlet-name>
        <url-pattern>/RedirigirUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelarProductos</servlet-name>
        <url-pattern>/CancelarProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AbrirDetallesPedido</servlet-name>
        <url-pattern>/AbrirDetallesPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroUsuario</servlet-name>
        <url-pattern>/RegistroUsuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
